In [2]:
 """"Modify the first item (22) of a list inside a following tuple to
222
tuple1 = (11, [22, 33], 44, 55)"""
    
    
t1= (11, [22, 33], 44, 55)
t1[1][0] = 222
print(t1)

(11, [222, 33], 44, 55)

In [3]:
""""Count the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50"""


t2 = (50, 10, 60, 70, 50)
print(t2.count(50))

2

In [4]:
""""Write a Python program to convert a list to a tuple"""



lst= [1,2,3,4,5]
print(lst)
tuple1= tuple(lst)
print(tuple1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [8]:
 """"Returns a new set with all items from both sets by removing
duplicates
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}"""
    
    
    
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [9]:
""""Merge following two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}"""



dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [14]:
""""Given a Python dictionary, Change Bradâ€™s salary to 8500
sampleDict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 6500}
}"""



sampleDict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict['emp3']['salary'] = 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [9]:
""""Rename key city to location in the following dictionary
sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"
}"""



sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}